*{
   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: Dubai-Bold;
    src: url(fonts/Dubai-Bold.ttf);
  }
html,body{
    margin: 0;
    height: 100%;

}
.survey-page{
    background: url(images/bg.svg) no-repeat ;
    height: 100vh;
    background-position: center;
    overflow-y: hidden;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.survey-page .customer-survey{
    background-color: #FFFFFF;
    text-align: center;
    padding: 25px 100px 60px 100px;
    box-shadow: 0px 6px 30px #000000cc;
    border-radius: 12px;
    min-width: 43vw;
}
.survey-page .customer-survey.comments{
    padding: 60px;
}
.survey-page h1.title{
    font-size: 28px;
    margin-bottom: 73px; 
}
.survey-page .imgs-block{
    display: flex;
    justify-content: space-between;
}
.survey-page .imgs-block a{
    text-decoration: none;
    cursor: pointer;
}
.survey-page .imgs-block .Satisfied{
    margin: 0 111px;
}
.survey-page .imgs-block .Satisfied:hover {
 color: #EFAF00;
}
.survey-page .imgs-block .notSatisfied:hover{
    color: red;
}
.survey-page .imgs-block .excellent:hover{
    color: green;
}
.survey-page .imgs-block .Satisfied:hover img{
   
    -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(
5deg
) saturate(500%) contrast(0.7);
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(
5deg
) saturate(500%) contrast(0.7);
}
.survey-page .imgs-block .notSatisfied:hover img{
    /* fill: red; */
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
-50deg
) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
-50deg
) saturate(600%) contrast(2.8);
}

.survey-page .imgs-block .excellent:hover img{
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
50deg
) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(
50deg
) saturate(1000%) contrast(0.8);
}

.survey-page .customer-comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.survey-page .comments-block{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none;
    margin-bottom: 30px;

}
.comments-block:focus{
    outline: none;
}

.survey-page .actions a{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4px 21px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.survey-page .actions .send{
    background-color: #A21600;
    border-color: #A21600;
}
.survey-page .actions .back{
    background-color: #949494;
    
}

@media (max-width: 575.98px) { 
 .imgs-block img{
    width: 60%;
 }
 .survey-page .imgs-block .Satisfied {
    margin: 0 ;
}
.survey-page .customer-survey.comments{
    min-width: 78vw;
}
}
@media (min-width: 576px) and (max-width: 991.98px) { 
 .imgs-block img{
    width: 60%;
 }
 .survey-page .imgs-block .Satisfied {
    margin: 0 ;
}
.survey-page .customer-survey.comments{
    min-width: 78vw;
}
 }
 @media (min-width: 893px) and (max-width: 992px) { 

 }
